:root{
  --prim : #ff006e;
  --sec : #ffbe0b;
  --tern: #fb5607;
  --quad: #8338ec;
  --pent: #3a86ff;
}

body {
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1{
    background: linear-gradient(to right , var(--prim) , var(--sec) , var(--quad));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  h3,
  p {
    margin: 0;
  }