@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
 .animation-delay-2000 {
  animation-delay: 2s;
 }  
 .animation-delay-4000 {
  animation-delay: 4s;
 }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.webcam-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  margin-top: 20px;
}

.webcam-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcam-preview {
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin: 24px;
}

.captured-image {
  max-width: 500
}

.center{
  display: flex;
  justify-content: center;
  align-items:center;
}

.mright{
  margin-right: 24px;
}

.above{
  z-index: 10;
}